= form_for @firefly do |f|
  - if @firefly.errors.any?
    #error_explanation
      %h2= "#{pluralize(@firefly.errors.count, "error")} prohibited this firefly from being saved:"
      %ul
        - @firefly.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :device_id, 'Device Id'
    = f.text_field :device_id
  .field
    = f.label :hospital
    = f.collection_select :hospital, Hospital.all, :name, :name, :include_blank => true
  .field
    = f.label :sponsor
    = f.collection_select :sponsor, Sponsor.all, :name, :name, :include_blank => true
  .actions
    = f.submit 'Save'
