= link_to image_tag('dtm_big.jpg', {size: '230'}),'http://designthatmatters.org', target: '_blank'
#container
  #mission
    Inspired by #{link_to 'Design that Matters\'', 'http://www.designthatmatters.org/', target: '_blank'} Firefly Infant phototheray device, Datawings strives to empower organizations to provide health centers in limited resource settings with high impact medical equipment that works.
  %figure
    = image_tag 'firefly.jpg', {size: '440'}
    %figcaption Design that Matters' Firefly Infant phototherapy device treats newborns with jaundice.
  %figure
    = link_to image_path('diagram.jpg'), target: '_blank' do
      = image_tag 'diagram.jpg', {size: '440'}
    %figcaption A high-level overview of how Datawings works.


