%h1 Firefly Data by Donor

%table{class: 'table'}
  %tr
    %th
    %th Name
    %th Total Fireflies
    - if current_user
      %th
      %th

  - @sponsors.each do |sponsor|
    %tr{class: 'data'}
      %td= link_to 'Show', sponsor
      %td= sponsor.name
      %td= sponsor.fireflies.count
      - if current_user
        %td= link_to 'Edit', edit_sponsor_path(sponsor)
        %td= link_to 'Destroy', sponsor, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
- if current_user
  = link_to 'New Sponsor', new_sponsor_path
