/where are my Firefly? what cities, what hospitals? how many?
/# of my Fireflies across the world
/# newborns treated by my Firefly across the world
/also one on the main page

%p#notice= notice
%h1
  = @sponsor.name
.yay
  = "Your #{@sponsor.fireflies.count} #{'Firefly'.pluralize(@sponsor.fireflies.count)} saved #{@sponsor.lives_saved} #{'lives'.pluralize(@sponsor.lives_saved)} so far!"

%h3 My Fireflies
%table{class: 'table'}
  %tr
    %th Device
    %th Hospital
    %th Hours On
    %th Lives Saves

  - @sponsor.fireflies.each do |firefly|
    %tr
      %td= firefly.device_id
      %td= firefly.hospital.try :name
      %td= firefly.total_time
      %td= firefly.lives_saved

%br


= link_to 'Edit', edit_sponsor_path(@sponsor)
\|
= link_to 'Back', sponsors_path
