/where are my Firefly? what cities, what hospitals? how many?
/# of my Fireflies across the world
/# newborns treated by my Firefly across the world
/also one on the main page

%p#notice= notice
%h1
  = @sponsor.name
%h2.yay
  = "Your #{@sponsor.fireflies.count} Firefly treated #{@sponsor.lives_saved} #{'newborn'.pluralize(@sponsor.lives_saved)} so far!"

%p
  My Fireflies
%table{class: 'table'}
  %tr
    %th Device
    %th Hospital
    %th Total Hours
    %th Newborns Treated

  - @sponsor.fireflies.each do |firefly|
    %tr{ id: "device-row-#{firefly.device_id}" }
      %td= firefly.device_id
      %td= firefly.hospital.try :name
      %td= firefly.total_time
      %td= firefly.lives_saved

%br

#map-canvas

= link_to 'Edit', edit_sponsor_path(@sponsor)
\|
= link_to 'Back', sponsors_path