%h1 Raw Data: All SMS Transmissions

%table{class: 'table'}
  %tr
    %th Firefly
    %th Sent at
    %th Hour meter
    %th Low temp
    %th High temp
    %th Min voltage
    %th Max voltage
    %th Error code
    - if current_user
      %th
      %th
      %th

  - @data_transmissions.desc.each do |data_transmission|
    %tr{class: 'data'}
      %td= data_transmission.firefly.name
      %td= data_transmission.sent_at
      %td= data_transmission.hour_meter
      %td= data_transmission.low_temp
      %td= data_transmission.high_temp
      %td= data_transmission.min_voltage
      %td= data_transmission.max_voltage
      %td= data_transmission.error_code
      - if current_user
        %td= link_to 'Show', data_transmission
        %td= link_to 'Edit', edit_data_transmission_path(data_transmission)
        %td= link_to 'Destroy', data_transmission, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
- if current_user
  = link_to 'New Data Transmission', new_data_transmission_path
