%h1 Listing data_transmitions

%table{class: 'table'}
  %tr
    %th Firefly
    %th Sent at
    %th Hour meter
    %th High temp
    %th Low temp
    %th Min voltage
    %th Max voltage
    %th Error code
    %th
    %th
    %th

  - @data_transmitions.each do |data_transmition|
    %tr
      %td= data_transmition.firefly.name
      %td= data_transmition.sent_at
      %td= data_transmition.hour_meter
      %td= data_transmition.high_temp
      %td= data_transmition.low_temp
      %td= data_transmition.min_voltage
      %td= data_transmition.max_voltage
      %td= data_transmition.error_code
      %td= link_to 'Show', data_transmition
      %td= link_to 'Edit', edit_data_transmition_path(data_transmition)
      %td= link_to 'Destroy', data_transmition, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Data transmition', new_data_transmition_path
